<div class="checkout" fxLayout="column">
    <div class="checkout-logo">
        <img src="assets/images/LogoFeCredit.png" alt="FE Credit"/>
    </div>

    <div class="checkout-infoUser">
        <img src="assets/images/UserEllipse.png" alt="" class="checkout-image"/>
        <h4 class="checkout-infoUser-name">Chào: Nguyễn Văn A</h4>
        <div class="checkout-credit">
            <p class="checkout-credit-title">Hạn mức tín dụng của bạn là:</p>
            <p class="checkout-credit-price">50.000.000đ</p>
        </div>
    </div>

    <div class="checkout-infoBill">
        <span class="checkout-title">Thông tin đơn hàng</span>
        <div class="checkout-wrapper">
            <img src="assets/images/begin-yoga-mat-5mm.png" alt="">
            <div class="checkout-info">
                <span class="checkout-name">Begin Yoga Mat 5MM</span>
                <span class="checkout-attribue">Steel Grey / One Size</span>
            </div>
            <div class="checkout-price">
                <span>5.000.000VNĐ</span>
            </div>
        </div>
    </div>
    <div class="checkout-footer">
        <span>Tổng cộng</span>
        <span>5.030.000VNĐ</span>
    </div>

    <div class="checkout-notifications">
        <img src="assets/images/SuccessFully.png" alt="" class="checkout-image">
        <span class="checkout-notification-desc">Chúc mừng bạn, với hạn mức tín dụng này bạn đủ điều kiện để hoàn tất đơn hàng</span>
    </div>

    <div class="checkout-tenor">
        <h3 class="checkout-tenor-title">Vui lòng chọn Tenor</h3>
        <div class="checkout-tenor-list">
            <div class="checkout-tenor-item">
                <div class="checkout-left">
                    <span><b>TENOR 1</b></span>
                    <span>Giá sản phẩm: <b>5.030.000</b></span>
                    <span>Phí chuyển đổi: <b>5.030.000</b></span>
                    <span>Thời gian thanh toán: <b>5.030.000</b></span>
                </div>
                <div class="checkout-right">
                    <span>6.030.000</span>
                </div>
            </div>
            <div class="checkout-tenor-item">
                <div class="checkout-left">
                    <span><b>TENOR 1</b></span>
                    <span>Giá sản phẩm: <b>5.030.000</b></span>
                    <span>Phí chuyển đổi: <b>5.030.000</b></span>
                    <span>Thời gian thanh toán: <b>5.030.000</b></span>
                </div>
                <div class="checkout-right">
                    <span>6.030.000</span>
                </div>
            </div>
            <div class="checkout-tenor-item">
                <div class="checkout-left">
                    <span><b>TENOR 1</b></span>
                    <span>Giá sản phẩm: <b>5.030.000</b></span>
                    <span>Phí chuyển đổi: <b>5.030.000</b></span>
                    <span>Thời gian thanh toán: <b>5.030.000</b></span>
                </div>
                <div class="checkout-right">
                    <span>6.030.000</span>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn-confirm">Xác nhận</button>
</div>