<div class="global-box" appMarginTop="16" fxLayout="column" fxLayoutAlign="start center">
    <div class="item-header" fxFlexAlign="start" appMarginTop="10">
        Thông tin đơn hàng
    </div>
    <ng-container *ngFor="let item of itemService.items">
        <app-checkout-item [item]="item"></app-checkout-item>
    </ng-container>

<!--    <div class="item-wrapper" fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill appMarginTop="8">-->
<!--        <img src="assets/images/begin-yoga-mat-5mm.png" width="60" height="72">-->
<!--        <div fxFlex="40" fxLayout="column" fxLayoutAlign="space-between start">-->
<!--            <div class="item-title">-->
<!--                Begin Yoga Mat 5MM-->
<!--            </div>-->
<!--            <div class="item-des">-->
<!--                Steel Grey/One Size-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="item-price">-->
<!--            5.000.000 VND-->
<!--        </div>-->

<!--    </div>-->
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill appMarginTop="16" appMarginBottom="16">
        <div class="item-price">Tổng cộng</div>
        <div class="item-price">5.030.000 VND</div>
    </div>
</div>
