//.payment-box{
//  display: block;
//  //height: 350px;
//  width: 378px;
//  border-radius: 8px;
//  background: #FFFFFF;
//  border: 1px solid #C4C4C4;
//  padding-left: 25px;
//  padding-right: 18px;
//}

.payment-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.phone-box {
  display: block;
  height: 223px;
  width: 378px;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  padding-left: 25px;
  padding-right: 18px;
}
.margin-top-16 {
  margin-top: 16px;
}

.phone-input{
  padding: 10px 0px 10px 8px;
  width: 310px;
  height: 40px;
  /* surface */
  background: #FFFFFF;
  /* Ink/ink300 */
  border: 1px solid rgba(4, 17, 62, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
}

.error {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: red;
}

//.payment-button:disabled,
//.payment-button[disabled]{
//  border: 1px solid #999999;
//  background: #cccccc;
//  color: #666666;
//}