<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55">
    <p class="margin-top-16 payment-text">Slogan - FEC Content Team to Update</p>
    <img src="assets/images/image-solugan.png" width="383" height="141">
    <p class="margin-top-16 payment-text" >Intro - FEC Content Team to Update</p>
    <div class="global-box" fxLayout="column" fxLayoutAlign="top center">
        <p class="margin-top-16 payment-text" >{{'register.inputLabel' | translate}}</p>
        <form [formGroup]="registerForm">
        <input (keypress)="keyPress($event, InputType.number)" required type="text" class="phone-input"
               formControlName="phonenumber"
               [ngClass]="{ 'is-invalid': submitted && f['phonenumber'].errors }">
            <div *ngIf="f['phonenumber']?.invalid && (f['phonenumber']?.dirty || f['phonenumber']?.touched) && f['phonenumber'].errors && f['phonenumber'].errors['required']">
                <span class="error" >{{'phone.empty' | translate}}</span>
            </div>
            <div *ngIf="f['phonenumber'].errors && (
            f['phonenumber'].errors!['maxlength']
            || f['phonenumber'].errors!['minlength'])">
                <span class="error" >{{'phone.wrongLength' | translate}}</span></div>
            <div *ngIf="f['phonenumber'].errors && f['phonenumber'].errors['pattern']">
                <span class="error" >{{'phone.wrongFormat' | translate}}</span>
            </div>

        </form>
<!--        <ngx-intl-tel-input-->
<!--                [cssClass]="'custom'"-->
<!--                [preferredCountries]="preferredCountries"-->
<!--                [enableAutoCountrySelect]="true"-->
<!--                [enablePlaceholder]="true"-->
<!--                [searchCountryFlag]="true"-->
<!--                [searchCountryField]="[-->
<!--          SearchCountryField.Iso2,-->
<!--          SearchCountryField.Name-->
<!--        ]"-->
<!--                [selectFirstCountry]="false"-->
<!--                [selectedCountryISO]="CountryISO.India"-->
<!--                [maxLength]="'15'"-->
<!--                [phoneValidation]="true"-->
<!--                [separateDialCode]="separateDialCode"-->
<!--                [numberFormat]="PhoneNumberFormat.National"-->
<!--                [formControl]="phone"-->
<!--        >-->
<!--        </ngx-intl-tel-input>-->
        <div>
            <button class="payment-button"
                    appMarginTop="36"
                    appMarginBottom="16"
                    [disabled]="f['phonenumber'].invalid"
                    (click)="onRegisterContinue()">
                <span>{{'button.continue' | translate}}</span><span>&nbsp;&nbsp;&nbsp;></span> </button>
        </div>
    </div>
    <app-checkout-items [discount]="true" [items]="itemService.fakeItem"></app-checkout-items>
    <div appMarginBottom="32"></div>


</div>
