
.voolo-header {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  /* Black/black500 */
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.voolo-content {
  background: #FFFFFF;
  padding: 30px 30px 30px 30px;
}
