<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55" style="margin-left: 48px">
    <p class="margin-top-16 payment-text">Slogan - FEC Content Team to Update</p>
    <img src="assets/images/image-solugan.png" width="383" height="141">
    <p class="margin-top-16 payment-text">Intro - FEC Content Team to Update</p>
    <div class="phone-box" fxLayout="column" fxLayoutAlign="top center">
        <p class="margin-top-16 payment-text">Vui lòng nhập điện thoại để tiếp tục</p>
        <input class="phone-input">
        <div>
            <button class="payment-button" routerLink="../verify-pin"><span>Tiếp tục</span><span>&nbsp;&nbsp;&nbsp;></span> </button>
        </div>
    </div>
    <app-cart-information style="margin-top: 32px"></app-cart-information>

</div>
