
.global-box {
  padding : 0 32px 0 32px;
}

.image-blurred-edge {
  outline: 1px solid #0bfba6;
  outline-offset: -16px;
}

.error {
  margin-left: 24px;
}

.input-info {
  height: 40px;
  border-radius: 8px;
  padding: 10px 8px 10px 8px;
  background: #FFFFFF;
  border: 1px solid #4ECB71;
  box-sizing: border-box;
}
.circle-red:hover {
  cursor: pointer;
}

.mat-icon:hover {
  cursor: pointer;
}

.picture-selfie-slogan {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #000000;
}

.image-title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  /* or 214% */
  text-align: center;

  color: #000000;
}

.background-gray {
  width: 305px;
  //height: 305px;
  background-color: #e5e5e5;
  border-radius: 2px;
  margin-bottom: 34px;

  .background-green {
    width: 256px;
    height: 256px;
    margin: 25px;
    border: 1px solid #0bfba6;
    position: relative;

    .circle-red {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 5px solid #ffffff;
      background-color: #fa1818;
      position: absolute;
      //bottom: -20px;
      //left: 30%;
      //transform: translateX(50%);
      bottom: -20px;
      right: 42%;
    }
  }
}

.picture-selfie-overlay {
  width: 100px;
  height: 100px;
  padding: 10px;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  background-color: white;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
}

.picture-selfie-notice {
  font-weight: bold;
  font-size: 12px;
  color: #f30c28;
  margin-bottom: 10px;
}

.picture-selfie-step {
  font-weight: normal;
  font-size: 14px;
  color: rgba(4, 17, 62, 0.5);
}

ul {
  margin-block-start: 0;
}

.warning {
  &:hover{
    cursor: pointer;
  }
}