<div class="picture-selfie">
    <div class="picture-selfie-logo">
        <img src="assets/images/LogoFeCredit.png" alt="FE Credit"/>
    </div>

    <h3 class="picture-selfie-slogan">
        Slogan - FEC Content Team to update
    </h3>

    <div class="picture-selfie-wrapper">
        <h3 class="picture-selfie-title">Vui lòng nhập CMND/CCCD</h3>
        <input type="text">

        <span class="picture-selfie-head">Chụp ảnh chân dung</span>
        <div class="background-gray">
            <div class="background-green">
                <div class="circle-red"></div>
            </div>
        </div>

        <div class="picture-selfie-camera">
            <div class="picture-selfie-overlay">
                <img src="assets/images/camera.png" alt="">
            </div>
            <span class="picture-selfie-text">Chân dung</span>
        </div>

        <div class="picture-selfie-warning">
            <img src="assets/images/Warning.png" alt="">
            <span>Chưa chụp ảnh</span>
        </div>

        <div class="picture-selfie-notifications">
            <p class="picture-selfie-notice">Hướng dẫn chụp ảnh chân dung :</p>
            <p class="picture-selfie-step">. Hướng dẫn cách chụp ảnh chân dung </p>
        </div>

    </div>

    <button class="btn btn-continue">Tiếp tục</button>
</div>