<script src="picture-selfie.component.ts"></script>
<div class="global-wrapper">
    <!--    <img alt="FE Credit" src="assets/images/LogoFeCredit.png"/>-->
    <!--    <div class="picture-selfie-slogan" appMarginTop="16">-->
    <!--        Slogan - FEC Content Team to update-->
    <!--    </div>-->

    <!--<div class="global-box" fxLayout="column" fxLayoutAlign="start center">-->
    <div class="paragraph-text paragraph-text-bold" appMarginTop="40">
        <p>{{'selfie.enterNid' | translate}}</p>
    </div>
    <div class="input-wrapper">
        <input type="text" class="input-global"
               (keypress)="keyPress($event, InputType.number)"
               [formControl]="citizenId"
               [ngClass]="{ 'input-invalid': citizenId.errors && (citizenId.dirty || citizenId.touched)}">
        <span></span>
    </div>
    <div class="error-text" appMarginTop="8"
         *ngIf="(citizenId.dirty || citizenId.touched) && citizenId.errors && citizenId.errors['required']">
        <img  class="icon-invalid" src="../../../assets/images/validator1.png">
        <label>{{'error.nCard.empty' | translate}}</label>
    </div>
    <div class="error-text" appMarginTop="8"
         *ngIf="(citizenId.dirty || citizenId.touched) && citizenId.errors && citizenId.errors['pattern']">
        <img  class="icon-invalid" src="../../../assets/images/validator1.png">
        {{'error.nCard.wrongFormat' | translate}}
    </div>
    <div class="error-text" appMarginTop="8"
         *ngIf="(citizenId.dirty || citizenId.touched) && citizenId.errors && citizenId.errors['nidExist']">
        <img  class="icon-invalid" src="../../../assets/images/validator1.png">
        {{'error.nCard.nidExist' | translate}}
    </div>


    <div class="paragraph-text paragraph-text-bold" appMarginTop="30">
        <p>{{'selfie.takeShot' | translate}}</p>
    </div>
    <div class="background-gray">
        <div *ngIf="!(pictureService.selfieImageComplete$ | async)" class="background-green">
            <div class="circle-red" (click)="startCaptureImage()">
                <div class="circle-inside"></div>
            </div>
        </div>
        <div *ngIf="pictureService.selfieImageComplete$ | async" class="image-frame">
            <img [src]="pictureService.selfieImage"
                 class="image-blurred-edge">
            <div class="circle-red" (click)="startCaptureImage()">
                <div class="circle-inside"></div>
            </div>
        </div>
    </div>

    <div appMarginTop="34" class="picture-selfie-overlay" fxLayout="column" fxLayoutAlign="center center"
         *ngIf="!(pictureService.selfieImageComplete$ | async)">
        <img fxFlexAlign="center" width="38" height="38" alt="" src="assets/images/camera1.png">
    </div>
    <div appMarginTop="34" class="picture-selfie-overlay image-selfie" *ngIf="pictureService.selfieImageComplete$ | async">
        <img class="image-small" [src]="pictureService.selfieImage" alt="">
        <img class="checked-mark" src="assets/images/checkedMark.png">
        <!--        <mat-icon appMarginTop="8" (click)="onDeleteImage()">delete</mat-icon>-->
    </div>
    <div class="paragraph-text paragraph-text-small" appMarginTop="16">
        {{'selfie.portrait' | translate}}
    </div>
    <div class="warning" *ngIf="!(pictureService.selfieImageComplete$ | async)"
         appMarginTop="10" (click)="instruction = !instruction">
        <!--        <img src="assets/images/warning.png" width="14" height="14">-->
        <div class="error-text text-center">  {{'selfie.warning' | translate}}</div>
    </div>
    <ng-container *ngIf="instruction">
        <div class="paragraph-text text-big-16 paragraph-text-bold" appMarginTop="16" fxFlexAlign="start">
            {{'selfie.shotGuide' | translate}}:
        </div>
        <ul>
            <li class="picture-selfie-step paragraph-text paragraph-text-small">
                {{'selfie.textGuide1' | translate}}
            </li>
            <li class="picture-selfie-step paragraph-text paragraph-text-small">
                {{'selfie.textGuide2' | translate}}
            </li>
            <li class="picture-selfie-step paragraph-text paragraph-text-small">
                {{'selfie.textGuide3' | translate}}
            </li>
        </ul>
    </ng-container>
    <!--</div>-->
    <button class="payment-button"
            appMarginTop="36"
            appMarginBottom="32"
            [disabled]="!(pictureService.selfieImageComplete$ | async) || citizenId.errors"
            (click)="onSelfieContinue()">
        <span>{{'button.continue' | translate}}</span>
    </button>
</div>
