<div fxLayout="column" fxLayoutAlign="start center">
    <img src="../../../assets/images/LogoFeCredit.png" alt="FE Credit" width="130" height="55"/>
    <div class="global-box" fxLayout="column" fxLayoutAlign="start center" appMarginTop="80">
        <div appMarginTop="40"></div>
        <app-checkout-header [smallView]="true"></app-checkout-header>
        <div class="content-text" appMarginTop="60" i18n>
            Bạn vui lòng bỏ sản phẩm ra khỏi giỏ hàng!
        </div>
        <button class="payment-button"
                appMarginTop="72"
                appMarginBottom="22"
                (click)="onNotEnoughCreditConfirm()">
            <span i18n>QUAY LẠI GIỎ HÀNG </span><span>&nbsp;&nbsp;&nbsp;></span>
        </button>
    </div>
    <div appMarginTop="32"></div>
    <app-checkout-items></app-checkout-items>
    <div appMarginBottom="32"></div>

</div>
