<div class="electronic-contract">
    <div class="electronic-contract-logo">
        <img src="assets/images/LogoFeCredit.png" alt="FE Credit"/>
    </div>

    <ul class="progress-bar-steps">
        <li class="progress-bar-complete">Thông tin khách hàng</li>
        <li class="progress-bar-complete">Cài đặt Pin</li>
        <li class="progress-bar-done">E-sign</li>
        <li>Xác minh thông tin</li>
        <li>Hoàn thành</li>
    </ul>

    <h3 class="electronic-contract-heading">Xác nhận hợp đồng điện tử</h3>

    <div class="electronic-contract-info">
        <h3 class="electronic-contract-title">Mẫu hợp đồng</h3>
        <p class="electronic-contract-desc">
            SAMPLE CONTENT - FEC input later HÌNH THỨC THANH TOÁN
            Đối tác được quyền thanh toán chậm cho việc mua sản phẩm trong thời hạn quy định trên Hợp đồng mua hàng hoá trả chậm. Giá sản phẩm sẽ được thanh toán định kỳ hàng ngày thông qua Ví dưới (ví tiền mặt) của Đối tác. Vui lòng duy trì thu nhập tại Ví dưới (ví tiền mặt) để hệ thống thực hiện thanh toán tự động, tránh việc trễ hạn và ảnh hưởng đến quyền lợi của Đối tác.
            Trường hợp thu nhập ví dưới không đủ vào ngày thanh toán định kỳ, khoản còn thiếu hệ thống sẽ tự động thu (từ ví dưới) vào những ngày kế tiếp, kể cả ngày lễ và cuối tuần.
            Thời gian khấu trừ ví dưới dự kiến sẽ bắt đầu trong...
        </p>
       <div class="electronic-contract-check" style="margin-bottom: 16px;">
            <input type="checkbox" /> 
            <span>Tôi đồng ý với điều kiện & Điền khoản hợp đồng</span>
       </div>
       <div class="electronic-contract-check">
            <input type="checkbox" /> 
            <span>Vui lòng gửi OTP xác nhận về số điện thoại đã đăng ký VOOLO của tôi</span>
   </div>
    </div>
    
    <button type="button" class="btn-sign">Ký ngay</button>
</div>