<div class="otp-box" fxLayout="column" fxLayoutAlign="start center">
    <div class="note-text-2" fxFlexAlign="start">
        <p >Nhập OTP <span class="red-star">*</span></p>
    </div>
    <code-input #codeInput [isCodeHidden]="false"
                [codeLength]="6"
                (codeChanged)="onCodeChanged($event)"
                (codeCompleted)="onCodeCompleted($event)">
    </code-input>
    <div class="warning" *ngIf="otpFails$ | async"
         fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start center"
         appMarginTop="8">
        <img src="assets/images/warning.png" width="14" height="14"> <div class="image-title">  <ng-container >Mã OTP không hợp lệ</ng-container> {{otpFails$ | async}}/5</div>
    </div>
    <div class="warning image-title" *ngIf="(otpFails$ | async)! >= 5"
         appElDimension width="240"
         appMarginTop="16" >
        Quá trình đăng ký bị gián đoạn. Vui lòng trở lại sau 24h
    </div>
    <div class="note-text" appMarginTop="8">
       <p >Không nhận được OTP ?</p>
        <button class="send-otp" [disabled]="!countdownComplete" (click)="onSendOtp()" >Gởi lại OTP
            <span>(</span><countdown #cd [config]="{leftTime: 60, format: 's'}" (event)="onCountdown($event)" ></countdown><span>s)</span>
        </button>
    </div>

</div>
