.otp-box {
  width: 388px;
  background: #F3F3F3;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  //border-radius: 16px;
  padding: 34px;
  //.note-text-2 {
  //  font-family: 'Montserrat Alternates';
  //  font-size: 12px;
  //  font-style: normal;
  //  font-weight: 400;
  //  line-height: 16px;
  //  letter-spacing: 0em;
  //  text-align: left;
  //}
  //.red-star {
  //  color: red;
  //}
  //.note-text {
  //  font-family: 'Montserrat Alternates';
  //  font-size: 12px;
  //  font-style: normal;
  //  font-weight: 300;
  //  line-height: 16px;
  //  letter-spacing: 0em;
  //}

}

button.send-otp:disabled {
  border: none;
  color: grey;
  cursor: not-allowed;
  pointer-events: all !important;
}
button.send-otp:hover {
  //cursor: pointer;
}

button.send-otp {
  cursor: pointer;
  border: none;
}

//.image-title {
//  font-family: 'Montserrat Alternates';
//  font-style: normal;
//  font-weight: 400;
//  font-size: 14px;
//  line-height: 30px;
//  /* or 214% */
//  text-align: center;
//
//  color: #000000;
//}

.hidden {
  display: none;
}
.highlight {
  //background: white;
  color: #1155cc;
  text-decoration: underline;
}

code-input {
  --item-height: 45px;
  --item-background: white;
  //--item-shadow-focused: 0px 2px 7px #C4C4C4;
  --item-spacing: 6px;
  --item-border: none;
  --item-border-bottom: none;
  --item-border-has-value: none;
  --item-border-bottom-has-value: none;
}

.code-input-finish {
  ////--item-border-radius: 50%;
  //--item-height: 45px;
  ////--text-security-style: disc;
  //--item-background: white;
  //--item-shadow-focused: 0px 2px 7px #C4C4C4;
  //--item-spacing: 6px;
  --item-border: 1px solid #17D7A0;
  --item-border-bottom: 1px solid #17D7A0;
  --item-border-focused: 1px solid #17D7A0;
  --item-border-bottom-focused: 1px solid #17D7A0;
  --item-border-has-value: 1px solid #17D7A0;
  --item-border-bottom-has-value: 1px solid #17D7A0;
}

.code-input-error {
  --item-border: 1px solid #FF8080;
  --item-border-bottom: 1px solid #FF8080;
  --item-border-focused: 1px solid #FF8080;
  --item-border-bottom-focused: 1px solid #FF8080;
  --item-border-has-value: 1px solid #FF8080;
  --item-border-bottom-has-value: 1px solid #FF8080;
}
//.send-otp:hover {
//  cursor: pointer;
//}
//.send-otp {
//  text-decoration: underline;
//  span {
//    text-decoration: none;
//  }
//  border: none;
//}
//code-input {
//  --item-spacing: 10px;
//  --item-height: 3em;
//  --item-border: none;
//  --item-border-bottom: 2px solid #dddddd;
//  --item-border-has-value: none;
//  --item-border-bottom-has-value: 2px solid #888888;
//  --item-border-focused: none;
//  --item-border-bottom-focused: 2px solid #809070;
//  --item-shadow-focused: none;
//  --item-border-radius: 0px;
//}
//input {
//  border: none;
//}
