.otp-box {
  width: 378px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  //border-radius: 16px;
  padding: 34px;
  .note-text-2 {
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .red-star {
    color: red;
  }
  .note-text {
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
  }

}

button:disabled {
  border: none;
  color: grey;
  cursor: not-allowed;
  pointer-events: all !important;
}
button:hover {
  cursor: pointer;
}

button {
  border: none;
}

.image-title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  /* or 214% */
  text-align: center;

  color: #000000;
}

.hidden {
  display: none;
}
.highlight {
  background: white;
  color: #1155cc;
  text-decoration: underline;
}

code-input {
  --item-border-radius: 50%;
  --item-height: 32px;
  --text-security-style: disc;
  --item-background: #C4C4C4;
  --item-shadow-focused: 0px 2px 7px #C4C4C4;
  --item-spacing: 16px;
}

//.send-otp:hover {
//  cursor: pointer;
//}
//.send-otp {
//  text-decoration: underline;
//  span {
//    text-decoration: none;
//  }
//  border: none;
//}
//code-input {
//  --item-spacing: 10px;
//  --item-height: 3em;
//  --item-border: none;
//  --item-border-bottom: 2px solid #dddddd;
//  --item-border-has-value: none;
//  --item-border-bottom-has-value: 2px solid #888888;
//  --item-border-focused: none;
//  --item-border-bottom-focused: 2px solid #809070;
//  --item-shadow-focused: none;
//  --item-border-radius: 0px;
//}
