<div class="type-pin" fxLayout="column">
    <div class="type-pin-logo">
        <img src="assets/images/LogoFeCredit.png" alt="FE Credit"/>
    </div>

    <h3 class="type-pin-slogan">Slogan - FEC Content Team to update</h3>

    <div class="pin">
        <h2 class="pin-title">Nhập mã PIN</h2>
        <h3 class="pin-desc">Vui lòng nhập mã PIN để xác nhận thanh toán</h3>
        <p class="pin-label">Mã PIN</p>
        <form class="pin-circle">
            <input type="password" name="number-pin1" maxlength="1" />
            <input type="password" name="number-pin2" maxlength="1" />
            <input type="password" name="number-pin3" maxlength="1" />
            <input type="password" name="number-pin4" maxlength="1" />
        </form>
        <p class="pin-forgot">Quên mã PIN? <a href="#">Nhấn vào đây</a></p>
    </div>
</div>