.enter-info-text {
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}
.global-box {
  padding: 0 24px 0 24px;
}

.contract-content-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

:host::ng-deep.mat-checkbox-layout{
  white-space: normal !important;
}

:host::ng-deep.mat-checkbox-inner-container{
  margin-top: 4px;
}
:host::ng-deep.mat-checkbox-label {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
}

.payment-button {
  margin-bottom: 24px;
}

.contract-content {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  color: #000000;
  display: block;
  position: relative;
  height: 200px;
  overflow: hidden;
  .expand-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    background: white;
  }
}

.expand-content {
  height: 300px;
  overflow: scroll;
}