<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55">
    <img src="assets/images/customer3.png" width="409" height="42" appMarginTop="55">
    <div class="enter-info-text" appMarginTop="33">
        Xác nhận hợp đồng điện tử
    </div>
    <div class="contract-box" fxLayout="column" fxLayoutAlign="top start" appMarginTop="36">
        <div class="contract-content-title" appMarginTop="24">
            <p>Mẫu hợp đồng</p>
        </div>
        <div >
            <img src="assets/images/e_contract.png" width="306" height="285">
        </div>
        <div appMarginTop="16">
            <mat-checkbox [(ngModel)]="agreeContract">Tôi đồng ý với các điều khoản hợp đồng</mat-checkbox>
        </div>
        <div appMarginTop="16">
            <mat-checkbox [(ngModel)]="sendOtpToPhone">Vui lòng gởi OTP xác nhận về điện thoại đã đăng ký VOOLO của tôi</mat-checkbox>
        </div>
    </div>

    <button class="payment-button" routerLink="../customer-information-process" [disabled]="!(agreeContract && sendOtpToPhone)">
        <span>KÝ NGAY</span><span>&nbsp;&nbsp;&nbsp;></span> </button>

</div>
