<div class="global-wrapper">
<!--    <img src="assets/images/FE-Credit.png" width="155" height="55">-->
<!--    <div appMarginTop="55"></div>-->
<!--    <app-progress-step></app-progress-step>-->
    <app-voolo-register-header></app-voolo-register-header>
    <div class="paragraph-text text-bold-2 text-big-20 text-center">
        {{'esign.confirm' | translate}}
    </div>
    <div class="middle-box white-box margin-top-default">
        <div class="contract-content-title" fxFlexAlign="start">
            <p>{{'esign.contract' | translate}}</p>
        </div>
        <div class="contract-content"  [ngClass]="{'expand-content': expand}">
            <p>{{contract.content}}</p>
            <button class="expand-button" *ngIf="!expand" (click)="expand = !expand" >{{'button.more' | translate}}</button>
        </div>
<!--        <iframe src="https://bnpl.dzhxww9188dsv.amplifyapp.com/pay-mock/register" height="500"></iframe>-->
        <div appMarginTop="16" fxFlexAlign="start">
            <mat-checkbox color="primary" [(ngModel)]="agreeContract" >{{'esign.agree' | translate}}</mat-checkbox>
        </div>
        <div appMarginTop="16" fxFlexAlign="start">
            <mat-checkbox color="primary" [(ngModel)]="sendOtpToPhone" >{{'esign.sendOTP' | translate}}</mat-checkbox>
        </div>
    </div>

    <button class="payment-button" appMarginTop="32" (click)="onAgreeContract()" [disabled]="!(agreeContract && sendOtpToPhone)">
        <span>{{'button.signNow' | translate}}</span>
    </button>

</div>
