<div class="otp-box" fxLayout="column" fxLayoutAlign="top center">
    <div class="note-text-2" fxFlexAlign="start">
        <p>Nhập OTP <span class="red-star">*</span></p>
    </div>
    <code-input [isCodeHidden]="false"
                [codeLength]="6"
                (codeChanged)="onCodeChanged($event)"
                (codeCompleted)="onCodeCompleted($event)">
    </code-input>
    <div class="note-text" appMarginTop="8">
        <p>Không nhận được OTP ?</p>
        <button [ngClass]="{'disabled': !countdownComplete}">Gởi lại OTP </button>
        <span>(</span><countdown [config]="{leftTime: 60, format: 's'}" (event)="onCountdown($event)" ></countdown><span>s)</span>
    </div>

</div>