<div fxLayout="column" fxLayoutAlign="start center">
    <app-checkout-header></app-checkout-header>
    <app-checkout-items></app-checkout-items>
    <app-checkout-tenor [tenor]="(tenorService.selectedTenor$ | async)!" [checked]="true"></app-checkout-tenor>
    <app-verify-pin-child (pinCode)="onPinCodeChange($event)"></app-verify-pin-child>
    <div class="save-tenor" appMarginTop="16">
        <mat-checkbox [(ngModel)]="saveTenor" >{{'checkout.saveTenor' | translate}}</mat-checkbox>
    </div>
    <button class="payment-button"
            appMarginTop="36"
            appMarginBottom="36"
            [disabled]="pinCode.length < 4"
            (click)="onCheckoutConfirm()">
        <span>{{'button.confirm' | translate}}</span><span>&nbsp;&nbsp;&nbsp;></span>
    </button>
</div>
