<div class="setup-pin" fxLayout="column">
    <div class="setup-pin-logo">
        <img src="assets/images/LogoFeCredit.png" alt="FE Credit"/>
    </div>

    <h3 class="setup-pin-heading">Cài đặt mã PIN của bạn</h3>

    <div class="setup-pin-info">
        <div class="input-group">
            <label class="setup-pin-label">Mã PIN</label>
            <div class="setup-pin-circle">
                <input type="password" name="number-pin1" maxlength="1" />
                <input type="password" name="number-pin2" maxlength="1" />
                <input type="password" name="number-pin3" maxlength="1" />
                <input type="password" name="number-pin4" maxlength="1" />
            </div>
        </div>
        <div class="input-group">
            <label class="setup-pin-label">Mã PIN</label>
            <div class="setup-pin-circle">
                <input type="password" name="number-pin1" maxlength="1" />
                <input type="password" name="number-pin2" maxlength="1" />
                <input type="password" name="number-pin3" maxlength="1" />
                <input type="password" name="number-pin4" maxlength="1" />
            </div>
        </div>
        <div class="setup-pin-noted">
            <p>Lưu ý</p>
            <span><b style="color: red">*</b> Mã pin bao gồm 4 số, dùng để checkout khi thanh toán</span>
        </div>
    </div>    
    
    <button type="button" class="btn-confirm">Xác nhận</button>
</div>