<div class="pin-verify-box" [ngClass]="{'border-box' : !popUp}" fxLayout="column" fxLayoutAlign="start center" appMarginTop="16">
    <div  class="pin-header" appMarginTop="32" >
        {{'pin.enter' | translate}}
    </div>
    <div appMarginTop="16" class="pin-title" >
        {{'pin.reEnterCheck' | translate}}
    </div>
    <div fxFlexAlign="start" appMarginTop="16" class="pin-text" >
        {{'label.pinCode' | translate}}
    </div>
    <div appMarginTop="23">
        <!--            <input class="pin-input-fill" type="number" maxlength="1">-->
        <!--            <input class="pin-input-fill" type="number" maxlength="1">-->
        <!--            <input class="pin-input-fill" type="number" maxlength="1">-->
        <!--            <input class="pin-input" type="number" name="pin" maxlength="1">-->
        <code-input [isCodeHidden]="true"
                    [codeLength]="4"
                    (codeChanged)="onCodeChanged($event)"
                    (codeCompleted)="onCodeCompleted($event)">
        </code-input>
    </div>
    <div class="warning" *ngIf="pinFails"
         fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start center"
         appMarginTop="8">
        <img src="assets/images/warning.png" width="14" height="14"> <div class="image-title">  <ng-container >{{'pin.invalid' | translate}}</ng-container> {{pinFails}}/5</div>
    </div>
    <div class="warning" *ngIf="pinDirty && !pin"
         fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start center"
         appMarginTop="8">
        <img src="assets/images/warning.png" width="14" height="14"> <div class="image-title">  <ng-container >{{'pin.empty' | translate}}</ng-container></div>
    </div>
    <div *ngIf="pinFails >= 5"
         fxLayout="row" fxLayoutAlign="center center"
         appMarginTop="8" appElDimension width="160">
         <div class="image-title">  <ng-container >{{'pin.registerInterrupt' | translate}}</ng-container></div>
    </div>

    <div appElDimension width="214" height="24" appMarginTop="64" fxLayout="row" fxLayoutAlign="space-around center" >
        <p class="forgot-pin-text">{{'pin.forgot' | translate}} <span (click)="onForgotPin()">{{'text.press' | translate}} {{'text.here' | translate}}</span></p>
    </div>
<!--    <div appMarginTop="32">-->
<!--        <button class="payment-button" (click)="onVerifyPinContinue()"><span>Tiếp tục</span><span>&nbsp;&nbsp;&nbsp;></span> </button>-->
<!--    </div>-->
</div>
