<div class="pin-verify-box" [ngClass]="{'border-box' : !popUp}" fxLayout="column" fxLayoutAlign="start center">
    <div  class="paragraph-text text-big-16 text-bold-2" appMarginTop="32" >
        {{'pin.enter' | translate}}
    </div>
    <div appMarginTop="8" class="paragraph-text paragraph-text-bold" >
        {{'pin.paymentConfirm' | translate}}
    </div>
<!--    <div appMarginTop="16" class="pin-text" >-->
<!--        {{'label.pinCode' | translate}}-->
<!--    </div>-->
    <div appMarginTop="56">
        <!--            <input class="pin-input-fill" type="number" maxlength="1">-->
        <!--            <input class="pin-input-fill" type="number" maxlength="1">-->
        <!--            <input class="pin-input-fill" type="number" maxlength="1">-->
        <!--            <input class="pin-input" type="number" name="pin" maxlength="1">-->
        <code-input [isCodeHidden]="true"
                    [codeLength]="4"
                    (codeChanged)="onCodeChanged($event)"
                    (codeCompleted)="onCodeCompleted($event)">
        </code-input>
    </div>
    <div class="error-text" *ngIf="pinFails"
         appMarginTop="8">
        {{'pin.invalid' | translate}} {{pinFails}}/5
<!--        <img src="assets/images/warning.png" width="14" height="14"> -->
<!--        <div class="image-title">  <ng-container >{{'pin.invalid' | translate}}</ng-container> {{pinFails}}/5</div>-->
    </div>
    <div class="error-text" *ngIf="pinDirty && !pin"
         appMarginTop="8">
        {{'pin.empty' | translate}}
<!--        <img src="assets/images/warning.png" width="14" height="14"> -->
<!--        <div class="image-title">  <ng-container >{{'pin.empty' | translate}}</ng-container></div>-->
    </div>
    <div *ngIf="pinFails >= 5" class="error-text">
        {{'pin.registerInterrupt' | translate}}
<!--         <div class="image-title">  <ng-container >{{'pin.registerInterrupt' | translate}}</ng-container></div>-->
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" appMarginTop="56" appMarginBottom="24">
        <p class="forgot-pin-text">{{'pin.forgot' | translate}}? <span (click)="onForgotPin()"> {{'text.press' | translate}} {{'text.here' | translate}}</span></p>
    </div>
<!--    <div appMarginTop="32">-->
<!--        <button class="payment-button" (click)="onVerifyPinContinue()"><span>Tiếp tục</span><span>&nbsp;&nbsp;&nbsp;></span> </button>-->
<!--    </div>-->
</div>
