<div class="global-box" fxLayout="column" fxLayoutAlign="start center" appMarginTop="16">
    <div  class="pin-header" appMarginTop="32">
        Nhập mã PIN
    </div>
    <div appMarginTop="16" class="pin-title">
        Vui lòng nhập mã PIN để xác thực thông tin
    </div>
    <div fxFlexAlign="start" appMarginTop="16" class="pin-text">
        Mã pin
    </div>
    <div appElDimension width="300" height="26" appMarginTop="23">
        <!--            <input class="pin-input-fill" type="number" maxlength="1">-->
        <!--            <input class="pin-input-fill" type="number" maxlength="1">-->
        <!--            <input class="pin-input-fill" type="number" maxlength="1">-->
        <!--            <input class="pin-input" type="number" name="pin" maxlength="1">-->
        <code-input [isCodeHidden]="true"
                    [codeLength]="4"
                    (codeChanged)="onCodeChanged($event)"
                    (codeCompleted)="onCodeCompleted($event)">
        </code-input>
    </div>
    <div appElDimension width="214" height="24" appMarginTop="64" fxLayout="row" fxLayoutAlign="space-around center" >
        <p class="forgot-pin-text">Quên mã pin <span (click)="onForgotPin()">Nhấn vào đây</span></p>
    </div>
<!--    <div appMarginTop="32">-->
<!--        <button class="payment-button" (click)="onVerifyPinContinue()"><span>Tiếp tục</span><span>&nbsp;&nbsp;&nbsp;></span> </button>-->
<!--    </div>-->
</div>
