<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55">
    <img src="assets/images/customer2.png" width="409" height="42" appMarginTop="55">
    <div class="enter-info-text" appMarginTop="33">
        Cài đặt mã pin của bạn
    </div>
    <div class="pin-box" appMarginTop="39" fxLayout="column" fxLayoutAlign="top center">
        <div appElDimension width="42" height="16" fxFlexAlign="start" appMarginTop="46">
            <p class="pin-text-number">Mã PIN</p>
        </div>
        <div appElDimension width="250" height="26" appMarginTop="16">
            <code-input [isCodeHidden]="true"
                        [codeLength]="4"
                        (codeChanged)="onCodeChanged($event)"
                        (codeCompleted)="onCodeCompleted($event)">
            </code-input>
        </div>
        <div appElDimension width="142" height="16" fxFlexAlign="start" appMarginTop="76">
            <p class="pin-text-number">Nhập lại mã PIN</p>
        </div>
        <div appElDimension width="250" height="26" appMarginTop="16">
            <code-input [isCodeHidden]="true"
                        [codeLength]="4"
                        (codeChanged)="onCodeChanged($event)"
                        (codeCompleted)="onCodeCompleted($event)">
            </code-input>
        </div>
        <div class="note-text" fxFlexAlign="start">Lưu ý</div>
        <div class="note-text-2" fxFlexAlign="start">
            <span class="red-star">*</span>
            Mã pin bao gồm 4 số, dùng để checkout khi thanh toán</div>
        <div class="note-text-2" fxFlexAlign="start">
            <span class="red-star">*</span>
            Mã pin này sẽ được sử dụng cho tất cả các thanh toán tại website voolo.com.vn</div>

        <div>
            <button class="payment-button" routerLink="../customer-esign-confirm"><span>TIẾP TỤC</span><span>&nbsp;&nbsp;&nbsp;></span> </button>
        </div>
    </div>

</div>