.enter-info-text {
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}
.pin-box {
  width: 378px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 32px;
  padding-right: 32px;
}

.pin-text-number {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.red-star {
  color: red;
}

.note-text {
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: red;
  margin-top: 74px;
}
.note-text-2 {
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

code-input {
  --item-border-radius: 50%;
  --item-height: 42px;
  --text-security-style: disc;
  --item-background: #C4C4C4;
  --item-shadow-focused: 0px 2px 7px #C4C4C4;
  --item-spacing: 16px;
}
