<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55">
    <div class="global-box" fxLayout="column" fxLayoutAlign="start center" appMarginTop="62">
        <div class="phone-text-title" appMarginTop="23">
            <p>TBD</p>
        </div>
        <input class="global-input" appMarginTop="26" [formControl]="phoneForm">
        <div fxFlexAlign="start">
            <div *ngIf="phoneForm.errors && phoneForm.errors['required']">
                <span class="error" >Vui lòng không để trống số điện thoại</span>
            </div>
            <div *ngIf="phoneForm.errors && (phoneForm.errors['pattern']
            || phoneForm.errors!['maxlength']
            || phoneForm.errors!['minlength'])">
                <span class="error" >Số điện thoại không hợp lệ</span>
            </div>
        </div>
        <div appMarginTop="32" appMarginBottom="33">
            <button class="payment-button"
                    appMarginTop="36"
                    [disabled]="phoneForm.invalid" (click)="onForgotPhoneContinue()"><span>TIẾP TỤC</span><span>&nbsp;&nbsp;&nbsp;></span>
            </button>
        </div>
    </div>
</div>
