<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55">
    <div appMarginTop="55"></div>
    <app-progress-step></app-progress-step>
    <div class="enter-info-text" appMarginTop="33">
        Xác minh thông tin
    </div>
    <div class="global-box" fxLayoutAlign="start center" fxLayout="column" appMarginTop="40">
        <div class="process-header" appMarginTop="100">
            Đang trong tiến trình xác minh thông tin
        </div>
        <div appMarginTop="36"></div>
        <app-progress-bar [progress]="(progress$ | async)!"></app-progress-bar>
        <div class="process-text" appMarginTop="24">
            {{progress$ | async}}% completed
        </div>
        <div class="note note-red" fxFlexAlign="start" appMarginTop="32">
            Lưu ý
        </div>
        <div class="note" fxFlexAlign="start" appMarginBottom="40">
            <span class="note-red">* </span> Tiến trình xác minh hồ sơ sẽ mất 5-15 phút
        </div>
    </div>
</div>
