<div class="bar-step">
    <div class="line-step">
        <div [ngStyle]="{'width.%' : ((progressStepService.step$ | async)! - 1) * 25}"></div>
    </div>
    <mat-grid-list cols="5" rowHeight="2:1">
        <mat-grid-tile *ngFor="let progressStep of (progressStepService.progressSteps$ | async)">
            <div [style]="progressStep.id <= (progressStepService.step$ | async)! ? 'background-color:#4ECB71':null" class="cycle-step"></div>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let progressStep of (progressStepService.progressSteps$ | async) ">
            <p class="text-step">{{progressStep.title}}</p>
        </mat-grid-tile>
    </mat-grid-list>
</div>
