<img src="../../../assets/images/LogoFeCredit.png" alt="FE Credit" width="130" height="55"/>
<div class="checkout-info-header" appMarginTop="80">
    <img src="../../../assets/images/UserEllipse.png" alt="" class="checkout-image"/>
    <div class="container-wrapper" fxFlexFill fxLayout="row" fxLayoutAlign="space-between center">
        <div class="customer-name">
            Chào: Nguyễn Văn A
        </div>
        <div fxLayout="column" fxLayoutAlign="center end">
            <div class="credit-text">
                Hạn mức tín dụng của bạn là:
            </div>
            <div class="credit-number">
                50.000.000 VND
            </div>
        </div>
    </div>
</div>
