<div fxLayout="column" fxLayoutAlign="start center">
    <img alt="FE Credit" src="assets/images/LogoFeCredit.png"/>
    <div class="box" fxLayout="column" fxLayoutAlign="start center">
        <img src="../../../assets/images/SuccessFully.png" alt="" width="62" height="62" appMarginTop="200">
        <div class="message" appMarginTop="20" >
            {{'pin.resetSuccess' | translate}}
        </div>
        <button class="payment-button"
                appMarginTop="32"
                appMarginBottom="32"
                (click)="onPinIChangeSuccessContinue()"><span>{{'button.continue' | translate}}</span>
        </button>
    </div>
</div>
