<div class="global-wrapper global-box">
    <img src="../../../assets/images/voolo-logo.png" alt="FE Credit" width="179" height="35" appMarginTop="30" appMarginBottom="30"/>
<!--    <div class="box" fxLayout="column" fxLayoutAlign="start center">-->
        <img src="../../../assets/images/SuccessFully.png" alt="" width="62" height="62" appMarginTop="100">
        <div class="paragraph-text text-center text-bold-2 text-big-20" appMarginTop="20" >
            {{'pin.resetSuccess' | translate}}
        </div>
        <button class="payment-button"
                appMarginTop="32"
                appMarginBottom="32"
                (click)="onPinIChangeSuccessContinue()"><span>{{'button.continue' | translate}}</span>
        </button>
<!--    </div>-->
</div>
