.payment-box {
}

.build {
  position: fixed;
  bottom: 24px;
  right: 60px;
  color: #555555;
  z-index: 3;
}

.fix {
  position: fixed;
  top: 40px;
  right: 30px;
}

.bnpl-box {
  width: auto;
  height: auto;
}

.global-gradient {
  position: fixed;
  height: 50%;
  width: 100%;
  top: 50%;
  mix-blend-mode: normal;
  opacity: 0.3;
  filter: blur(150px);
  background: linear-gradient(133.85deg, #197DEE 14.68%, #CE53AD 50.79%, #F18F61 85.43%);
  z-index: -1;
  //z-index: -1;
}
