<div class="message-fail" fxLayout="column">
    <div class="message-fail-logo">
        <img src="assets/images/LogoFeCredit.png" alt="FE Credit"/>
    </div>
    <div class="message-fail-notification">
        <h3 class="message-fail-title">Thay đổi mã pin không thành công, vui lòng thử lại hoặc liên hệ hỗ trợ để được hướng dẫn. Cảm ơn! </h3>
       <div class="message-fail-footer">
            <button type="button" class="btn-tryAgain">Thử lại</button>
            <div class="message-fail-noted">
                <p>Lưu ý</p>
                <span><b style="color: red">*</b> Tổng đài hỗ trợ 19001789</span>
            </div>
       </div>
    </div>
</div>
