<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55">
    <div class="global-box" fxLayout="column" fxLayoutAlign="start center" appMarginTop="62">
        <div class="text-title" appMarginTop="23">
            <p>{{'pinForgot.enterNid' | translate}}</p>
        </div>
        <div class="input-label" fxFlexAlign="start" appMarginTop="16">
            <p>{{'nCard.name' | translate}} <span class="red-star">*</span></p>
        </div>
        <input  class="global-input" [formControl]="cardIdForm">
        <div class="error" appMarginTop="8" fxFlexAlign="start" *ngIf="(cardIdForm.dirty || cardIdForm.touched) && cardIdForm.invalid" >
            {{'selfie.wrongFormat' | translate}}
        </div>
        <div appMarginTop="32" appMarginBottom="33">
            <button class="payment-button"
                    appMarginTop="36"
                    (click)="onForgotCardIdContinue()"><span >{{'button.sendOTP' | translate}}</span><span>&nbsp;&nbsp;&nbsp;></span> </button>
        </div>
    </div>
</div>
