<div class="global-wrapper global-box">
    <img src="../../../assets/images/voolo-logo.png" alt="FE Credit" width="179" height="35" appMarginTop="30"
         appMarginBottom="30"/>
    <!--    <div class="global-box" fxLayout="column" fxLayoutAlign="start center" appMarginTop="62">-->
    <div class="paragraph-text text-big-20 text-bold-2">
        {{'nCard.name' | translate}}
    </div>
    <div class="paragraph-text">
        {{'pinForgot.enterNid' | translate}}
    </div>
    <div class="input-wrapper" appMarginTop="40">
        <input class="input-global" [formControl]="cardIdForm"
               [ngClass]="{ 'input-invalid': cardIdForm.errors && (cardIdForm.dirty || cardIdForm.touched)}">
    </div>

    <div class="error-text" appMarginTop="8"
         *ngIf="(cardIdForm.dirty || cardIdForm.touched) && cardIdForm.errors &&  cardIdForm.errors['required']">
        {{'error.nCard.empty' | translate}}
    </div>
    <div class="error-text" appMarginTop="8"
         *ngIf="(cardIdForm.dirty || cardIdForm.touched) && cardIdForm.errors && cardIdForm.errors['pattern']">
        {{'error.nCard.wrongFormat' | translate}}
    </div>
    <div class="error-text" appMarginTop="8"
         *ngIf="(cardIdForm.dirty || cardIdForm.touched) && cardIdForm.errors && cardIdForm.errors['wrongnid']">
        {{'error.nCard.wrongNidPhone' | translate}}
    </div>
        <button class="payment-button"
                appMarginTop="36"
                appMarginBottom="40"
                [disabled]="cardIdForm.invalid"
                (click)="onForgotCardIdContinue()"><span>{{'button.sendOTP' | translate}}</span>
        </button>
</div>
