<div class="checkout" fxLayout="column">
    <div class="checkout-logo">
        <img src="assets/images/LogoFeCredit.png" alt="FE Credit"/>
    </div>

    <div class="checkout-infoUser">
        <img src="assets/images/UserEllipse.png" alt="" class="checkout-image"/>
        <div class="checkout-credit">
            <h4 class="checkout-credit-name">Chào: Nguyễn Văn A</h4>
            <p class="checkout-credit-title">Hạn mức tín dụng của bạn là:</p>
            <p class="checkout-credit-price">50.000.000 VNĐ</p>
        </div>
        <span class="checkout-notification">Bạn vui lòng bỏ bớt sản phẩm trong giỏ hàng</span>
        <button class="btn btn-back">Quay lại giỏ hàng</button>
    </div>

    <div class="checkout-infoBill">
        <span class="checkout-title">Thông tin giỏ hàng</span>
        <div class="checkout-wrapper">
            <img src="assets/images/begin-yoga-mat-5mm.png" alt="">
            <div class="checkout-info">
                <span class="checkout-name">Begin Yoga Mat 5MM</span>
                <span class="checkout-attribue">Steel Grey / One Size</span>
            </div>
            <div class="checkout-price">
                <span>5.000.000VNĐ</span>
            </div>
        </div>
        <div class="checkout-discount">
            <span>Add a discount code or a gilf card</span>
        </div>
        <div class="checkout-payment">
            <div class="checkout-payment-price">
                <span>Thành tiền</span>
                <span>5.000.000 VNĐ</span>
            </div>
            <div class="checkout-payment-ship">
                <span>Phí vận chuyển</span>
                <span>30.000 VNĐ</span>
            </div>
            <div class="checkout-payment-total">
                <span>Tổng cộng</span>
                <span>5.030.000 VNĐ</span>
            </div>
        </div>
    </div>
</div>