<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55">
    <img src="assets/images/customer1.png" width="409" height="42" appMarginTop="55">
    <div class="enter-info-text" appMarginTop="33">
        Đối soát thông tin
    </div>
    <fieldset class="personal-info-confirm">
        <legend> Thông tin cá nhân </legend>
        <div fxLayout="row" appMarginTop="9">
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Họ và tên:
                </div>
                <div class="info-content" appMarginTop="5">
                    Nguyễn Văn A
                </div>
            </div>
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Giới tính
                </div>
                <div class="info-content" appMarginTop="5">
                    Nam
                </div>
            </div>
        </div>
        <div fxLayout="row" appMarginTop="16">
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Ngày sinh:
                </div>
                <div class="info-content" appMarginTop="5">
                    15/03/1994
                </div>
            </div>
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Số điện thoại
                </div>
                <div class="info-content" appMarginTop="5">
                    +84 909451905
                </div>
            </div>
        </div>
        <div fxLayout="row" appMarginTop="16">
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Số CMND/CCCD:
                </div>
                <div class="info-content" appMarginTop="5">
                    245456524
                </div>
            </div>
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Ngày cấp
                </div>
                <div class="info-content" appMarginTop="5">
                    20/05/2011
                </div>
            </div>
        </div>
        <div fxLayout="column" appMarginTop="16">
            <div class="info-text-title">
                Địa chỉ
            </div>
            <div class="info-content" appMarginTop="5">
                110 Lê Duẩn, phường Bến Nghé, quận 1, Tp. HCM
            </div>
        </div>
    </fieldset>
    <fieldset class="ref-info-confirm">
        <legend> Thông tin tham chiếu</legend>
        <div fxLayout="column">
            <div class="info-text-title" appMarginTop="15">
                <p>Danh xưng: <span class="info-content">Bà</span></p>
            </div>
        </div>
        <div fxLayout="column">
            <div class="info-text-title" appMarginTop="12">
                <p>Họ và tên: <span class="info-content">Hoàng Thị Mai</span></p>
            </div>
        </div>
        <div fxLayout="column">
            <div class="info-text-title" appMarginTop="12">
                <p>Số điện thoại: <span class="info-content">+84 93145445</span></p>
            </div>
        </div>
        <div>
            <button class="payment-button" routerLink="../customer-pin-install"><span>Tiếp tục</span><span>&nbsp;&nbsp;&nbsp;></span> </button>
        </div>
    </fieldset>
</div>
