.enter-info-text {
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.personal-info-confirm {
  width: 378px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 28px;
  padding-left: 36px;
  padding-right: 34px;
}

.ref-info-confirm {
  width: 378px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 28px;
  padding-left: 36px;
  padding-right: 34px;
}

.block-info {
  display: block;
}

.info-text-title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.info-content {
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(4, 17, 62, 0.5);
}
.payment-button {
  margin-bottom: 16px;
}
.info-wrapper {
  align-self: start;
  margin-top: 15px;
  gap: 12px;
}
