<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55">
    <div appMarginTop="55"></div>
    <app-progress-step></app-progress-step>
    <div class="enter-info-text" appMarginTop="33">
        Đối soát thông tin
    </div>
    <fieldset class="personal-info-confirm">
        <legend> Thông tin cá nhân </legend>
        <div fxLayout="row" appMarginTop="9">
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Họ và tên:
                </div>
                <div class="info-content" appMarginTop="5">
                    {{customerInformationService.customerInfo$.getValue().name}}
                </div>
            </div>
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Giới tính
                </div>
                <div class="info-content" appMarginTop="5">
                    {{customerInformationService.customerInfo$.getValue().sex}}
                </div>
            </div>
        </div>
        <div fxLayout="row" appMarginTop="16">
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Ngày sinh:
                </div>
                <div class="info-content" appMarginTop="5">
                    {{customerInformationService.customerInfo$.getValue().birthday | date: 'dd/MM/yyyy'}}
                </div>
            </div>
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Số điện thoại
                </div>
                <div class="info-content" appMarginTop="5">
                    {{customerInformationService.customerInfo$.getValue().phone}}
                </div>
            </div>
        </div>
        <div fxLayout="row" appMarginTop="16">
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Số CMND/CCCD:
                </div>
                <div class="info-content" appMarginTop="5">
                    {{customerInformationService.customerInfo$.getValue().citizenId}}
                </div>
            </div>
            <div class="block-info" fxFlex="50">
                <div class="info-text-title">
                    Ngày cấp
                </div>
                <div class="info-content" appMarginTop="5">
                    {{customerInformationService.customerInfo$.getValue().issueDate | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>
        <div fxLayout="column" appMarginTop="16">
            <div class="info-text-title">
                Địa chỉ
            </div>
            <div class="info-content" appMarginTop="5">
                {{address}}
            </div>
        </div>
    </fieldset>
    <fieldset class="ref-info-confirm">
        <legend> Thông tin tham chiếu</legend>
        <div fxLayout="column">
            <div class="info-text-title" appMarginTop="15">
                <p>Danh xưng: <span class="info-content">{{customerInformationService.customerInfo$.getValue().personal_title_ref}} </span></p>
            </div>
        </div>
        <div fxLayout="column">
            <div class="info-text-title" appMarginTop="12">
                <p>Họ và tên: <span class="info-content">{{customerInformationService.customerInfo$.getValue().name_ref}}</span></p>
            </div>
        </div>
        <div fxLayout="column">
            <div class="info-text-title" appMarginTop="12">
                <p>Số điện thoại: <span class="info-content">{{customerInformationService.customerInfo$.getValue().phone_ref}}</span></p>
            </div>
        </div>
        <div>
<!--            <button class="payment-button" routerLink="../customer-pin-install"><span>Tiếp tục</span><span>&nbsp;&nbsp;&nbsp;></span> </button>-->
            <button class="payment-button"
                    appMarginTop="36"
                    (click)="onSendConfirm()"><span>TIẾP TỤC</span><span>&nbsp;&nbsp;&nbsp;></span> </button>
        </div>
    </fieldset>
</div>
