<div fxLayout="column" fxLayoutAlign="start center">
    <img src="../../../assets/images/LogoFeCredit.png" alt="FE Credit" width="130" height="55"/>
    <app-checkout-header [smallView]="false"></app-checkout-header>
    <app-checkout-items></app-checkout-items>
    <div class="global-box no-border" fxLayout="column" fxLayoutAlign="start center">
        <img src="../../../assets/images/SuccessFully.png" alt="" width="28" height="28" appMarginTop="26">
        <div class="item-message" appMarginTop="12" i18n>
            Chúc mừng bạn, với hạn mức tín dụng này bạn đủ điều kiện để hoàn tất đơn hàng
        </div>
    </div>
    <div class="global-box no-border tenor-header" appMarginTop="24" i18n>
        Vui lòng chọn Tenor
    </div>
    <ng-container *ngFor="let tenor of tenors">
        <app-checkout-tenor [tenor]="tenor"
                            [checked]="chosenTenor ? (chosenTenor.tenorId === tenor.tenorId) : false"
                            (chosenTenor)="onChoseTenor($event)"
        ></app-checkout-tenor>
    </ng-container>

    <button class="payment-button"
            appMarginTop="36"
            appMarginBottom="36"
            [disabled]="!chosenTenor"
            (click)="onCheckOutContinue()">
        <span i18n="@@confirm">XÁC NHẬN</span><span>&nbsp;&nbsp;&nbsp;></span>
    </button>

</div>
