<div class="progress-bar">
    <div class="progress-bar-logo">
        <img src="assets/images/LogoFeCredit.png" alt="FE Credit"/>
    </div>

    <ul class="progress-bar-steps">
        <li class="progress-bar-complete">Thông tin khách hàng</li>
        <li class="progress-bar-complete">Cài đặt Pin</li>
        <li class="progress-bar-complete">E-sign</li>
        <li class="progress-bar-done">Xác minh thông tin</li>
        <li>Hoàn thành</li>
    </ul>

    <h3 class="progress-bar-heading">Xác minh thông tin</h3>

    <div class="progress-bar-info">
        <p class="progress-bar-desc">Đang trong tiến trình xác minh thông tin</p>
        <div class="progress-bar-loading">
            <div class="progress-bar-loading-50"></div>
        </div>
        <p class="progress-bar-percent">50% completed</p>
        <div class="progress-bar-noted">
            <p>Lưu ý</p>
            <span><b style="color: red">*</b> Tiến trình xác minh sẽ mất từ 5-15 phút</span>
        </div>
    </div>    
</div>