<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55">
    <div appMarginTop="55"></div>
    <app-progress-step></app-progress-step>
    <div class="enter-info-text" appMarginTop="33" >
        {{'customer.enterInfo' | translate}}
    </div>
    <div [formGroup]="registerForm">
    <fieldset class="personal-info">
        <legend >{{'customer.info' | translate}}</legend>
        <div class="info-title" appMarginTop="25">{{'label.name' | translate}}</div>
        <input class="input-info" appMarginTop="8" formControlName="name">
        <div class="info-title" appMarginTop="25">
            <ng-container>{{'label.sex' | translate}}</ng-container> <span class="red-star">*</span>
        </div>
        <div class="error" *ngIf="(f['sex'].touched || f['sex'].dirty) && f['sex'].errors">
            <span>{{'error.emptySex' | translate}}</span>
        </div>
        <input class="input-info" appMarginTop="8" formControlName="sex" matInput [matAutocomplete]="autoSex">
        <mat-autocomplete autoActiveFirstOption #autoSex="matAutocomplete">
            <mat-option *ngFor="let option of sexOptions" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
        <div fxLayout="row" appMarginTop="25">
            <div class="block-info">
                <div class="info-title">{{'label.phoneNumber' | translate}}</div>
                <input (keypress)="keyPress($event, InputType.number)" type="text" class="narrow-input-info"
                       formControlName="phone"
                       appMarginTop="8"
                       [ngClass]="{ 'is-invalid': (f['phone'].touched || f['phone'].dirty) && f['phone'].errors }">

            </div>
            <div class="block-info margin-left-12">
                <div class="info-title">{{'label.birthday' | translate}}</div>
                <input class="narrow-input-info" appMarginTop="8" type="date" formControlName="birthday">
            </div>
        </div>
        <div fxLayout="row" appMarginTop="25">
            <div class="block-info">
                <div class="info-title">
                    {{'label.nid' | translate}}
                </div>
                <input class="narrow-input-info" appMarginTop="8" formControlName="citizenId">
            </div>
            <div class="block-info margin-left-12">
                <div class="info-title">
                    {{'label.issueDay' | translate}}
                </div>
                <input class="narrow-input-info" appMarginTop="8" type="date" formControlName="issueDate">
            </div>
        </div>
    </fieldset>

    <fieldset class="address-box">
        <legend>{{'label.address' | translate}}</legend>
        <div class="info-title" appMarginTop="25">
            {{'label.city' | translate}} <span class="red-star">*</span>
        </div>
        <input class="input-info" type="text"
               [ngClass]="{'is-invalid': (f['city'].touched || f['city'].dirty) && f['city'].errors}"
               appMarginTop="8"
               matInput
               onClick="this.setSelectionRange(0, this.value.length)"
               formControlName="city"
               [matAutocomplete]="autoCity">
        <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete" (optionSelected)="onSelectedCity($event.option.value)">
            <mat-option *ngFor="let option of cityFilteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
        <div class="error" *ngIf="(f['city'].touched || f['city'].dirty) && f['city'].errors">
            <span >{{'customer.chooseCity' | translate}}</span>
        </div>
            <div class="block-info" appMarginTop="16">
                <div class="info-title">
                    {{'label.district' | translate}} <span class="red-star">*</span>
                </div>
                <input class="input-info" type="text"
                       [ngClass]="{'is-invalid': (f['district'].touched || f['district'].dirty) && f['district'].errors}"
                       appMarginTop="8"
                       matInput
                       formControlName="district"
                       onClick="this.setSelectionRange(0, this.value.length)"
                       [matAutocomplete]="autoDistrict">
                <mat-autocomplete autoActiveFirstOption #autoDistrict="matAutocomplete" (optionSelected)="onSelectedDistrict($event.option.value)">
                    <mat-option *ngFor="let option of districtFilteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
                <div class="error" *ngIf="(f['district'].touched || f['district'].dirty) && f['district'].errors">
                    <span>{{'customer.chooseDistrict' | translate}}</span>
                </div>
            </div>
            <div class="block-info" appMarginTop="16">
                <div class="info-title">
                    <ng-container>{{'label.ward' | translate}}</ng-container> <span class="red-star">*</span>
                </div>
<!--                <input class="narrow-input-info"-->
<!--                       [ngClass]="{'is-invalid': (f['ward'].touched || f['ward'].dirty) && f['ward'].errors}"-->
<!--                       appMarginTop="8" formControlName="ward">-->
                <input class="input-info" type="text"
                       [ngClass]="{'is-invalid': (f['ward'].touched || f['ward'].dirty) && f['ward'].errors}"
                       appMarginTop="8"
                       matInput
                       formControlName="ward"
                       onClick="this.setSelectionRange(0, this.value.length)"
                       [matAutocomplete]="autoWard">
                <mat-autocomplete autoActiveFirstOption #autoWard="matAutocomplete" (optionSelected)="onSelectedWard($event.option.value)">
                    <mat-option *ngFor="let option of wardFilteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
                <div class="error" *ngIf="(f['ward'].touched || f['ward'].dirty) && f['ward'].errors">
                    <span >{{'customer.chooseWard' | translate}}</span>
                </div>
            </div>
<!--        </div>-->
        <div class="info-title" appMarginTop="16">
            <ng-container>{{'label.street' | translate}}</ng-container> <span class="red-star">*</span>
        </div>
        <input class="input-info"
               [ngClass]="{'is-invalid': (f['street'].touched || f['street'].dirty) && f['street'].errors}"
               appMarginTop="8" formControlName="street">
        <div class="error" *ngIf="(f['street'].touched || f['street'].dirty) && f['street'].errors">
            <span>{{'customer.chooseStreet' | translate}}</span>
        </div>
    </fieldset>

    <fieldset class="reference-box">
        <legend>{{'customer.refText' | translate}}</legend>
        <div class="info-title" appMarginTop="25">
            {{'label.perTitle' | translate}} <span class="red-star">*</span>
        </div>
<!--        <input class="input-info"-->
<!--               [ngClass]="{'is-invalid': (f['personal_title_ref'].touched || f['personal_title_ref'].dirty) && f['personal_title_ref'].errors}"-->
<!--               appMarginTop="8" formControlName="personal_title_ref">-->
        <input class="input-info" type="text"
               [ngClass]="{'is-invalid': (f['personal_title_ref'].touched || f['personal_title_ref'].dirty) && f['personal_title_ref'].errors}"
               appMarginTop="8"
               matInput
               formControlName="personal_title_ref"
               onClick="this.setSelectionRange(0, this.value.length)"
               [matAutocomplete]="autoPersonalTitle">
        <mat-autocomplete autoActiveFirstOption #autoPersonalTitle="matAutocomplete">
            <mat-option *ngFor="let option of personalTitleFilterOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
        <div class="error" *ngIf="(f['personal_title_ref'].touched || f['personal_title_ref'].dirty) && f['personal_title_ref'].errors">
            <span>{{'customer.refTittle' | translate}}</span>
        </div>
        <div class="info-title" appMarginTop="25">
            <ng-container>{{'label.name' | translate}}</ng-container> <span class="red-star">*</span>
        </div>
        <input class="input-info" (keypress)="keyPress($event, InputType.name)"
               [ngClass]="{'is-invalid': (f['name_ref'].touched || f['name_ref'].dirty) && f['name_ref'].errors}"
               appMarginTop="8" formControlName="name_ref">
        <div class="error" *ngIf="(f['name_ref'].touched || f['name_ref'].dirty) && f['name_ref'].errors">
            <span >{{'customer.name' | translate}}</span>
        </div>
        <div class="info-title" appMarginTop="25">
            {{'label.phoneNumber' | translate}} <span class="red-star">*</span>
        </div>
        <input class="input-info" (keypress)="keyPress($event, InputType.number)"
               [ngClass]="{'is-invalid': (f['phone_ref'].touched || f['phone_ref'].dirty) && f['phone_ref'].errors}"
               appMarginTop="8" formControlName="phone_ref">
        <div class="error" *ngIf="(f['phone_ref'].touched || f['phone_ref'].dirty) && f['phone_ref'].errors">
            <span>{{'customer.refPhone' | translate}}</span>
        </div>
    </fieldset>
    </div>
    <div class="note-text" fxFlexAlign="start">Lưu ý</div>
    <div class="note-text-2" fxFlexAlign="start"><span class="red-star">*</span> <ng-container > {{'customer.warning' | translate}} </ng-container></div>
    <div>
        <button class="payment-button"
                appMarginTop="36"
                appMarginBottom="36"
                [disabled]="registerForm.invalid" (click)="onContinue()">
            <span>{{'button.continue' | translate}}</span><span>&nbsp;&nbsp;&nbsp;></span> </button>
    </div>
</div>
