<div class="type-nid" fxLayout="column">
    <div class="type-nid-logo">
        <img src="assets/images/LogoFeCredit.png" alt="FE Credit"/>
    </div>

    <div class="type-nid-info">
        <h3 class="type-nid-title">Nhập số CCCD: </h3>
        <form action="" class="input-group">
            <label class="type-nid-label">CMND/CCCD <b style="color: red">*</b></label>
            <input class="type-nid-input" type="text" placeholder="Nhập thông tin tại đây">
        </form>
        <div class="type-nid-noted">
            <p>Lưu ý</p>
            <span><b style="color: red">*</b> Thông tin bắt buộc</span>
        </div>
        <button type="button" class="btn-continue">Tiếp tục</button>
    </div>    
</div>
