<div class="tenor-wrapper">
    <img *ngIf="checked" class="tenor-checked" src="../../../assets/images/SuccessFully.png" alt="" width="28" height="28">
    <div fxFlexFill class="global-box" [ngClass]="{'checked': checked && tenor.enable, 'disabled': !tenor.enable}"
         fxLayout="row" fxLayoutAlign="space-between center"
         appMarginTop="12" (click)="onTenorClick()">
        <div appMarginTop="16" appMarginBottom="16">
            <div class="tenor-title">
                TENOR <span>{{index}}</span>
            </div>
            <div class="tenor-title">
                <span>{{'tenor.itemPrice' | translate}}: </span><span>{{itemService.sumPriceItem | currency:currencyCode : ''}} VND</span>
            </div>
            <div class="tenor-title">
                <span>{{'tenor.convertFee' | translate}}: </span><span>{{convertFee | currency:currencyCode : ''}} VND</span>
            </div>
            <div class="tenor-title">
                <span>{{'tenor.paymentDue' | translate}}: </span> <span>{{'daysNumber' | pluralTranslate:tenor.paymentSchedule | translate: { days: tenor.paymentSchedule } }}</span>
            </div>
        </div>
        <div class="tenor-price">
            {{priceTenor | currency:currencyCode : ''}} VND
        </div>
    </div>

</div>
<!--<div class="global-box" fxLayout="row" fxLayoutAlign="space-between center" appMarginTop="12">-->
<!--    <div appMarginTop="16" appMarginBottom="16">-->
<!--        <div class="tenor-title">-->
<!--            TENOR <span>1</span>-->
<!--        </div>-->
<!--        <div class="tenor-title">-->
<!--            Giá sản phẩm: <span>5.030.000</span>-->
<!--        </div>-->
<!--        <div class="tenor-title">-->
<!--            Phí chuyển đổi: <span>1.000.000</span>-->
<!--        </div>-->
<!--        <div class="tenor-title">-->
<!--            Thời gian thanh toán: <span>120 ngày</span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="tenor-price">-->
<!--        6.030.000 VND-->
<!--    </div>-->
<!--</div>-->

