<div  class="global-wrapper">
    <div>
        <app-checkout-items [discount]="true" [items]="itemService.fakeItem"></app-checkout-items>
    </div>
    <div class="method-box">
        <div class="paragraph-text paragraph-text-bold header-2" appMarginTop="40">
            {{'voolo.choosePaymentMethod' | translate}}
        </div>
        <div class="payment-wrapper">
            <mat-radio-button [checked]="true" (change)="change($event)" color="primary"></mat-radio-button>
            <div class="paragraph-text">
                {{'voolo.bnpl' | translate}}
            </div>
            <div fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">
                <div class="image-wrapper" (click)="chooseBNPLMethod()">
                    <img src="assets/images/voolo-logo.png" width="120" height="22">
                </div>
                <div class="image-wrapper">
                    <img src="assets/images/lazada-logo.png" width="100" height="22">
                </div>
            </div>
        </div>
        <div *ngFor="let paymentMethod of paymentMethods" class="payment-wrapper" fxFlexFill appMarginTop="50">
            <mat-radio-button [disabled]="true"></mat-radio-button>
            <div class="image-wrapper image-wrapper-small">
                <img [src]="paymentMethod.img" [width]="paymentMethod.width || 48" [height]="paymentMethod.height || 30">
            </div>
            <div class="paragraph-text">
                {{paymentMethod.name | translate}}
            </div>
        </div>
    </div>

<!--    <app-checkout-items [discount]="true" [items]="itemService.fakeItem"></app-checkout-items>-->
<!--    <div class="paragraph-text paragraph-text-bold header-2" appMarginTop="40">-->
<!--        {{'voolo.choosePaymentMethod' | translate}}-->
<!--    </div>-->
<!--    <div class="middle-box">-->
<!--        <div class="payment-wrapper" fxFlexFill>-->
<!--            <mat-radio-button [checked]="true" (change)="change($event)" color="primary"></mat-radio-button>-->
<!--            <div class="paragraph-text">-->
<!--                {{'voolo.bnpl' | translate}}-->
<!--            </div>-->
<!--            <div fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">-->
<!--                <div class="image-wrapper" (click)="chooseBNPLMethod()">-->
<!--                    <img src="assets/images/voolo-logo.png" width="120" height="22">-->
<!--                </div>-->
<!--                <div class="image-wrapper">-->
<!--                    <img src="assets/images/lazada-logo.png" width="100" height="22">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div *ngFor="let paymentMethod of paymentMethods" class="payment-wrapper" fxFlexFill appMarginTop="50">-->
<!--            <mat-radio-button [disabled]="true"></mat-radio-button>-->
<!--            <div class="image-wrapper image-wrapper-small">-->
<!--                <img [src]="paymentMethod.img" [width]="paymentMethod.width || 48" [height]="paymentMethod.height || 30">-->
<!--            </div>-->
<!--            <div class="paragraph-text">-->
<!--                {{paymentMethod.name | translate}}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
