<div class="popup">
    <h2 class="popup-title">Nhập mã PIN</h2>
    <h3 class="popup-desc">Vui lòng nhập mã PIN để xác nhận thanh toán</h3>
    <label class="popup-pin-title">Mã PIN</label>
    <form class="popup-pin-circle">
        <input type="password" name="number-pin1" maxlength="1" />
        <input type="password" name="number-pin2" maxlength="1" />
        <input type="password" name="number-pin3" maxlength="1" />
        <input type="password" name="number-pin4" maxlength="1" />
    </form>
    <p class="popup-forgot">Quên mã PIN? <a href="#">Nhấn vào đây</a></p>
    <div class="btn-close">
        <img src="assets\images\close.png" alt="Close">
    </div>
</div>
