<div class="global-wrapper global-box">
    <img src="../../../assets/images/voolo-logo.png" alt="FE Credit" width="179" height="35" appMarginTop="30"
         appMarginBottom="30"/>


    <!--    <div class="global-box" fxLayout="column" fxLayoutAlign="start center" appMarginTop="32">-->
    <div class="paragraph-text text-big-20 text-bold-2" appMarginBottom="40">
        {{'otp.enter' | translate}}
    </div>

    <code-input #codeInput [isCodeHidden]="false"
                [ngClass]="{
    'code-input-error': countdownComplete || ((otpFails$ | async) && !enterNewOTP),
    'code-input-finish': !countdownComplete && enterNewOTP && (otpCode.length === 6)
    }"

                [codeLength]="6"
                (codeChanged)="onCodeChanged($event)"
                (codeCompleted)="onCodeCompleted($event)">
    </code-input>
    <div class="error-text" appMarginTop="8" *ngIf="otpFails$ | async">
        {{'otp.invalid' | translate}} {{otpFails$ | async}}/5
    </div>
    <div class="error-text" appMarginTop="8" *ngIf="countdownComplete">
        {{'otp.expired' | translate}}
    </div>
<!--    <div class="error-text" *ngIf="otpFails$ | async"-->
<!--         fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start center"-->
<!--         appMarginTop="8">-->
<!--&lt;!&ndash;        <img src="assets/images/warning.png" width="14" height="14">&ndash;&gt;-->
<!--        <div class="image-title"> {{'otp.invalid' | translate}} {{otpFails$ | async}}/5</div>-->
<!--    </div>-->
<!--    <div class="warning" *ngIf="countdownComplete"-->
<!--         fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start center"-->
<!--         appMarginTop="8">-->
<!--        <img src="assets/images/warning.png" width="14" height="14">-->
<!--        <div class="image-title">{{'otp.expired' | translate}}</div>-->
<!--    </div>-->
    <button *ngIf="(otpFails$ | async)! <= 5" class="payment-button" appMarginTop="32" (click)="verifyOTP()" [disabled]="otpCode.length < 6">
        <span>{{'button.continue' | translate}}</span>
    </button>
    <button *ngIf="(otpFails$ | async)! > 5" class="payment-button" appMarginTop="32" (click)="exitOnFailOTP()">
        <span>{{'button.turnBack' | translate}}</span>
    </button>
<!--    <div class="warning image-title" *ngIf="(otpFails$ | async)! >= 5"-->
<!--         appElDimension width="240"-->
<!--         appMarginTop="16">-->
<!--        {{'otp.resetFail' | translate}}-->
<!--    </div>-->
<!--    <div class="note-text" appMarginTop="8" appMarginBottom="16">-->
<!--        <p>{{'otp.notReceive' | translate}} ?</p>-->
<!--        <button class="send-otp" [ngClass]="{'highlight' : countdownComplete}" [disabled]="!countdownComplete"-->
<!--                (click)="onSendOtp()">{{'otp.resend' | translate}}-->
<!--            <span [ngClass]="{'hidden' : countdownComplete}"><span>(</span>-->
<!--                <countdown #cd [config]="{leftTime: 60, format: 's'}" (event)="onCountdown($event)"></countdown>-->
<!--                <span>s)</span></span>-->
<!--        </button>-->
<!--    </div>-->
    <div class="paragraph-text" appMarginTop="32" appMarginBottom="32">
        <span>{{'otp.notReceive' | translate}} ?</span>
        <button class="send-otp" [ngClass]="{'highlight': countdownComplete }" [disabled]="!countdownComplete" (click)="onSendOtp()">{{'otp.resend' | translate}}
            <span [ngClass]="{'hidden': countdownComplete }"><span>(</span><countdown #cd [config]="{leftTime: 60, format: 's'}" (event)="onCountdown($event)" ></countdown><span>s)</span></span>
        </button>
    </div>

    <!--    </div>-->
</div>
