/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.payment-button {
  width: 310px;
  height: 40px;
  background: linear-gradient(260.54deg, #68E89A 0%, #39D074 62.86%);
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  margin-top: 37px;
  color: white;
}
.payment-button:hover {
  cursor: pointer;
}