<div class="global-wrapper">
<!--    <img src="../../../assets/images/voolo-logo.png" alt="FE Credit" width="179" height="35" appMarginBottom="42"/>-->
<!--    <div appMarginBottom="90"></div>-->
<!--    <img src="../../../assets/images/voolo-smile.png" alt="" width="50" height="48" appMarginTop="20">-->
<!--    <app-checkout-items [discount]="false" [items]="(itemService.items$ | async)!"></app-checkout-items>-->
<!--    <div class="global-box" appMarginTop="32" fxLayout="column" fxLayoutAlign="start center">-->
        <ng-container *ngIf="checkoutService.checkoutFinish$ | async">
            <img src="assets/images/voolo-smile.png" appMarginTop="38" width="50" height="48">
            <div class="paragraph-text text-big-16 text-bold-2" appMarginTop="16">
                {{'checkout.buySuccess' | translate}}.
            </div>
            <div class="paragraph-text paragraph-text-small">
                {{'text.press' | translate}} <a (click)="onCheckoutFinish()">{{'text.here' | translate}}</a> {{'text.back' | translate}}
            </div>
            <div class="paragraph-text paragraph-text-small" appMarginTop="36">
                {{'checkout.autoBack' | translate}}
            </div>
        </ng-container>
        <ng-container *ngIf="!(checkoutService.checkoutFinish$ | async)">
            <img src="assets/images/voolo-sad.png" appMarginTop="38" width="50" height="48">
            <div class="paragraph-text text-big-16 text-bold-2" appMarginTop="16">
                {{'checkout.error' | translate}}
            </div>

            <div class="paragraph-text paragraph-text-small">
                {{'text.press' | translate}} <a (click)="onCheckoutFinish()">{{'text.here' | translate}}</a> {{'text.back' | translate}}
            </div>
        </ng-container>
    <app-checkout-items [discount]="false" [items]="(itemService.items$ | async)!"></app-checkout-items>

    <!--    </div>-->
</div>
