<div class="global-wrapper">
<!--    <img src="assets/images/FE-Credit.png" width="155" height="55">-->
    <img src="assets/images/voolo-logo.png" width="179" height="35" appMarginTop="10">
    <div class="paragraph-text paragraph-text-bold text-big-16" appMarginTop="56">
        {{'voolo.slogan' | translate}}
    </div>
    <div class="paragraph-text text-bold-2 text-big-20">
        {{'voolo.welcomeBNPL' | translate}}
    </div>
    <div appMarginTop="40"></div>
    <app-progress-step></app-progress-step>
    <hr class="hr-break">
    <div class="citizen-box" fxLayout="column" fxLayoutAlign="top center">
        <div class='paragraph-text text-bold-2 text-big-20' appMarginTop="16">
            <p class="title-text" >{{'nCard.title' | translate}}</p>
        </div>
        <div class="outer-frame-box" fxLayout="column" fxLayoutAlign="center center" appMarginTop="8" >
            <div class="inner-frame-box">
                <div *ngIf="pictureService.currentShot$ | async" >
                    <img [src]="pictureService.imageCurrentShot"
                         height="200"
                         width="256" alt="">
                </div>
                <div class="circle-red" (click)="onCaptureCitizenCard()"></div>
            </div>
        </div>
        <div class="citizen-frame-list" fxLayout="row" fxLayoutAlign="space-around center" appMarginTop="34">
            <div class="card-box" fxLayout="column" fxLayoutAlign="center center">
                <img *ngIf="!(pictureService.citizenFrontImageComplete$ | async)" fxFlexAlign="center" width="38" height="38" alt="" src="assets/images/camera1.png">
                <ng-container *ngIf="pictureService.citizenFrontImageComplete$ | async">
                    <img appMarginTop="8" width="92" height="52" alt="" [src]="pictureService.citizenFrontImage">
                    <mat-icon appMarginTop="8" (click)="onDeleteImage(NCardSide.front)">delete</mat-icon>
                    <img class="checked-mark-flex" src="assets/images/checkedMark.png">
                </ng-container>

            </div>
            <div class="card-box" fxLayout="column" fxLayoutAlign="center center">
                <ng-container *ngIf="!(pictureService.citizenBackImageComplete$ | async)">
                    <img fxFlexAlign="center" width="38" height="38" alt="" src="assets/images/camera1.png">
                </ng-container>

                <ng-container *ngIf="pictureService.citizenBackImageComplete$ | async">
                    <img appMarginTop="8" width="92" height="52" alt="" [src]="pictureService.citizenBackImage">
                    <mat-icon appMarginTop="8" (click)="onDeleteImage(NCardSide.back)">delete</mat-icon>
                    <img class="checked-mark-flex" src="assets/images/checkedMark.png">
                </ng-container>
            </div>
        </div>
        <div class="citizen-frame-list" fxLayout="row" fxLayoutAlign="space-around center" appMarginTop="16">
            <p class="citizen-image-text" >{{'nCard.nCardFront' | translate}}</p>
            <p class="citizen-image-text" >{{'nCard.nCardBack' | translate}}</p>
        </div>
        <div class="warning" *ngIf="!((pictureService.citizenFrontImageComplete$ | async) && (pictureService.citizenBackImageComplete$ | async))"
             fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start center"
             appMarginBottom="10"
             appMarginTop="10" (click)="instruction = !instruction">
<!--            <img src="assets/images/warning.png" width="14" height="14">-->
<!--            <div class="paragraph-text paragraph-text-bold">-->
<!--                <ng-container>{{'nCard.notShot' | translate}} </ng-container> {{getTextSideLocalize(NCardSide.front)}}{{getTextSideLocalize(NCardSide.back)}} <ng-container> {{'nCard.name' | translate}}</ng-container> -->
<!--            </div>-->
            <div class="paragraph-text paragraph-text-bold">
                {{'nCard.guideTwo' | translate}}:
            </div>
        </div>
        <ng-container *ngIf="!((pictureService.citizenFrontImageComplete$ | async) && (pictureService.citizenBackImageComplete$ | async)) && instruction">
<!--        <div class="picture-selfie-notice" fxFlexAlign="start" >-->
<!--            {{'label.guide' | translate}}:-->
<!--        </div>-->
        <ul>
            <li class="picture-selfie-step paragraph-text paragraph-text-small" >
                {{'nCard.guideText' | translate}}.
            </li>
        </ul>
        </ng-container>
    </div>
    <button class="payment-button"
            appMarginTop="36"
            (click)="onCitizenCardContinue()"
            [disabled]="!(pictureService.citizenFrontImageComplete$ | async) ||
            !(pictureService.citizenBackImageComplete$ | async)">
        <span>{{'button.continue' | translate}}</span>
    </button>

</div>
