<div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/FE-Credit.png" width="155" height="55">
    <div appMarginTop="55"></div>
    <app-progress-step></app-progress-step>
    <div class="citizen-box" fxLayout="column" fxLayoutAlign="top center" appMarginTop="20">
        <div class='title-box' appMarginTop="16">
            <p class="title-text">Chụp ảnh CMND/CCCD 2 mặt</p>
        </div>
        <div class="outer-frame-box" fxLayout="column" fxLayoutAlign="center center" appMarginTop="8" >
            <div class="inner-frame-box">
                <div *ngIf="pictureService.currentShot$ | async" >
                    <img [src]="pictureService.imageCurrentShot"
                         height="200"
                         width="250" alt="">
                </div>
                <div class="circle-red" (click)="onCaptureCitizenCard()"></div>
            </div>
        </div>
        <div class="citizen-frame-list" fxLayout="row" fxLayoutAlign="space-around center" appMarginTop="34">
            <div class="card-box" fxLayout="column" fxLayoutAlign="space-around center">
                <img *ngIf="!(pictureService.citizenFrontImageComplete$ | async)" fxFlexAlign="center" width="24" height="24" alt="" src="assets/images/camera.png">
                <ng-container *ngIf="pictureService.citizenFrontImageComplete$ | async">
                    <img appMarginTop="8" width="60" height="40" alt="" [src]="pictureService.citizenFrontImage">
                    <mat-icon appMarginTop="8" (click)="onDeleteImage(NCardSide.front)">delete</mat-icon>
                </ng-container>

            </div>
            <div class="card-box" fxLayout="column" fxLayoutAlign="space-around center">
                <img *ngIf="!(pictureService.citizenBackImageComplete$ | async)" fxFlexAlign="center" width="24" height="24" alt="" src="assets/images/camera.png">
                <ng-container *ngIf="pictureService.citizenBackImageComplete$ | async">
                    <img appMarginTop="8" width="60" height="40" alt="" [src]="pictureService.citizenBackImage">
                    <mat-icon appMarginTop="8" (click)="onDeleteImage(NCardSide.back)">delete</mat-icon>
                </ng-container>
            </div>
        </div>
        <div class="citizen-frame-list" fxLayout="row" fxLayoutAlign="space-around center" appMarginTop="16">
            <p class="citizen-image-text">CMND mặt trước</p>
            <p class="citizen-image-text">CMND mặt sau</p>
        </div>
        <div class="warning" *ngIf="!((pictureService.citizenFrontImageComplete$ | async) && (pictureService.citizenBackImageComplete$ | async))"
             fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start center"
             appMarginBottom="32"
             appMarginTop="10" (click)="instruction = !instruction">
            <img src="assets/images/warning.png" width="14" height="14">
            <div class="image-title"> Chưa chụp {{!(pictureService.citizenFrontImageComplete$ | async)?'mặt trước/':''}}{{!(pictureService.citizenBackImageComplete$ | async)?'mặt sau':''}} CMND/CCCD </div>
        </div>
        <ng-container *ngIf="!((pictureService.citizenFrontImageComplete$ | async) && (pictureService.citizenBackImageComplete$ | async)) && instruction">
        <div class="picture-selfie-notice" fxFlexAlign="start">
            Hướng dẫn:
        </div>
        <ul>
            <li class="picture-selfie-step">
                Nhấn vào nút màu đỏ để lần lượt chụp hình CMND/CCCD mặt trước và sau.
            </li>
        </ul>
        </ng-container>
    </div>
    <button class="payment-button"
            appMarginTop="36"
            (click)="onCitizenCardContinue()"
            [disabled]="!(pictureService.citizenFrontImageComplete$ | async) ||
            !(pictureService.citizenBackImageComplete$ | async)">
        <span>TIẾP TỤC</span><span>&nbsp;&nbsp;&nbsp;></span>
    </button>

</div>
