.box {
  width: 300px;
}
.message {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  /* or 160% */
  text-align: center;

  color: #000000;
}

.note {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.note-red {
  color: #EB5757;
}
