<div fxLayout="column" fxLayoutAlign="start center">
    <img alt="FE Credit" src="assets/images/LogoFeCredit.png"/>
    <div class="box" fxLayout="column" fxLayoutAlign="start center">
<!--        <img src="../../../assets/images/SuccessFully.png" alt="" width="28" height="28" appMarginTop="120">-->
        <div class="message" appMarginTop="120" >
            {{'pin.changeFail' | translate}}
        </div>
        <button class="payment-button"
                appMarginTop="32"
                appMarginBottom="32"
                (click)="onPinIChangeFailContinue()"><span>{{'button.retry' | translate}}</span><span>&nbsp;&nbsp;&nbsp;></span>
        </button>
        <div class="note note-red" fxFlexAlign="start">
            {{'label.note' | translate}}
        </div>
        <div class="note" fxFlexAlign="start">
            <span class="note-red">* </span> <ng-container >{{'pin.operator' | translate}} 19001789</ng-container>
        </div>
    </div>
</div>
