<div fxLayout="column" fxLayoutAlign="start center">
    <img alt="FE Credit" src="assets/images/LogoFeCredit.png"/>
    <div class="box" fxLayout="column" fxLayoutAlign="start center">
<!--        <img src="../../../assets/images/SuccessFully.png" alt="" width="28" height="28" appMarginTop="120">-->
        <div class="message" appMarginTop="120" i18n>
            Thay đổi mã pin không thành công, vui lòng thử lại hoặc liên hệ hỗ trợ để được hướng dẫn.
        </div>
        <button class="payment-button"
                appMarginTop="32"
                appMarginBottom="32"
                (click)="onPinIChangeFailContinue()"><span i18n>THỬ LẠI</span><span>&nbsp;&nbsp;&nbsp;></span>
        </button>
        <div class="note note-red" fxFlexAlign="start">
            Lưu ý
        </div>
        <div class="note" fxFlexAlign="start">
            <span class="note-red">* </span> <ng-container i18n>Tổng đài hỗ trợ 19001789 </ng-container>
        </div>
    </div>
</div>
